{% extends 'gagafood/_base.html' %}
{% load static %}
{% block content %}
        <main class="page">
            <section class="page__catalogue catalogue">
                <div class="catalogue__wrapper">
                    <div class="catalogue__crumbs crumbs">
                        <a href="{% url 'home' %}" class="crumbs__link">Главная</a> / Рестораны и кафе
                    </div>
                    <h1 class="catalogue__title">Рестораны и кафе</h1>
                    <div class="catalogue__body">
                        {% for r in restaurants %}
                        <div class="catalogue__card">
                            {% if r.logo %}
                                <img src="{{r.logo.url}}" alt="{{r.logo.url}}" class="catalogue__photo">
                            {% endif %}
                            <div class="catalogue__description">
                                <div class="catalogue__article">
                                    <h2 class="catalogue__name">{{r.title}}</h2>
                                    <p class="catalogue__text">{{r.category}}</p>
                                </div>
                                <a href="{{r.get_absolute_url}}" class="catalogue__button">Выбрать</a>
                            </div>
                        </div>
                        {% endfor %} 
                    </div>
                </div>
            </section>
{% endblock %}