{% extends 'gagafood/_base.html' %}
{% load static %}
{% block content %}
        <main class="page">
            <section class="page__classification classification">
                <h2 class="visible__hidden">Категории ресторанов:</h2>
                <div class="classification__wrapper">
                    {% for c in category %}
                    <a href="{% url 'catalogue' %}" class="classification__item">
                        <img src="{{c.logo.url}}" alt="{{c.name}}" class="classification__photo">
                        <p class="classification__text">
                            {{c.name}}
                        </p>
                    </a>
                    {% endfor %}
            </div>
            </section>
            <section class="page__baner baner">
                <div class="baner__wrapper">
                    <h1 class="baner__title">GaGaFood</h1>
                    <div class="baner__text">Сервис доставки еды из ресторанов в Москве</div>
                    <div class="baner__wrapper-button">
                        <a href="{% url 'catalogue' %}" class="baner__button">
                            Перейти к выбору
                        </a>
                    </div>
                </div>
            </section>
            <section class="page__top-restaurants top-restaurants">
            <div class="slideshow-container top-restaurants__wrapper_min">
                <h2 class="top-restaurants__title">Лучшие рестораны</h2>
                <div class="top-restaurants__body">
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <div class="mySlides fade">
                        <img src="{% static 'gagafood/images/BUZFood-top.jpg' %}" alt="Карточка ресторана" class="top-restaurants__cover">
                        <div class="top-restaurants__name">BUZFood</div>
                        <div class="top-restaurants__description">Премиальные салаты</div>
                    </div>
                    <div class="mySlides fade" id="rew">
                        <img src="{% static 'gagafood/images/KFC-top.jpg' %}" alt="Карточка ресторана" class="top-restaurants__cover">
                        <div class="top-restaurants__name">KFC</div>
                        <div class="top-restaurants__description">Фастфуд</div>
                    </div>
                    <div class="mySlides fade" id="rewu">
                        <img src="{% static 'gagafood/images/ClaudeMonet-top.jpg' %}" alt="Карточка ресторана" class="top-restaurants__cover">
                        <div class="top-restaurants__name">Claude Monet</div>
                        <div class="top-restaurants__description">Французская кухня</div>
                    </div>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
            </div>
            <div class="dots">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
                <div class="top-restaurants__wrapper">
                    <h2 class="top-restaurants__title">Лучшие рестораны</h2>
                    <div class="top-restaurants__body">
                        <div class="top-restaurants__card">
                            <a href="{% url 'catalogue' %}" class="top-restaurants__link">
                                <img src="{% static 'gagafood/images/BUZFood-top.jpg' %}" alt="Карточка ресторана" class="top-restaurants__cover">
                                <div class="top-restaurants__name">BUZFood</div>
                                <div class="top-restaurants__description">Премиальные салаты</div>
                            </a>
                        </div>
                        <div class="top-restaurants__card">
                            <a href="{% url 'catalogue' %}" class="top-restaurants__link">
                                <img src="{% static 'gagafood/images/KFC-top.jpg' %}" alt="Карточка ресторана" class="top-restaurants__cover">
                                <div class="top-restaurants__name">KFC</div>
                                <div class="top-restaurants__description">Фастфуд</div>
                            </a>
                        </div>
                        <div class="top-restaurants__card">
                            <a href="{% url 'catalogue' %}" class="top-restaurants__link">
                                <img src="{% static 'gagafood/images/ClaudeMonet-top.jpg' %}" alt="Карточка ресторана" class="top-restaurants__cover">
                                <div class="top-restaurants__name">Claude Monet</div>
                                <div class="top-restaurants__description">Французская кухня</div></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="page__text-block text-block">
                <div class="text-block__wrapper">
                    <h2 class="visible__hidden">О GagaFood:</h2>
                    <article class="text-block__article">
                        <h3 class="visible__hidden">Сервис доставки еды:</h3>
                        <p class="text-block__text">
                            Сервис доставки еды <span> GaGaFood </span> – это отличный 
                            выбор для тех, кто любит вкусные блюда, но не имеет достаточно
                            времени, чтобы готовить или ходить в рестораны. Заказ еды 
                            на дом или в офис существенно облегчает жизнь: не нужно 
                            проводить время у плиты, можно хоть каждый день радовать 
                            себя и близких оригинальными блюдами и пробовать деликатесы, 
                            которых нет в стандартном меню.
                        </p>
                        <p class="text-block__text">Мы сотрудничаем с лучшими ресторанами 
                            Москвы, что позволяет нам быть на сто процентов уверенными в 
                            качестве доставляемой еды. Наши партнеры готовят блюда только 
                            из свежих продуктов, большинство из которых производится на 
                            местных фермерских и рыбных хозяйствах.
                        </p>
                        <h3 class="visible__hidden">Возможности:</h3>
                        <p class="text-block__text">На сайте и в приложении Broniboy можно недорого заказать:</p>
                        <ul class="text-block__text-list text-list">
                            <li class="text-list__link">бургеры;</li>
                            <li class="text-list__link">роллы и суши;</li>
                            <li class="text-list__link">пиццу;</li>
                            <li class="text-list__link">шашлыки;</li>
                            <li class="text-list__link">мясные и рыбные блюда;</li>
                            <li class="text-list__link">классические и экзотические салаты;</li>
                            <li class="text-list__link">свежие морепродукты.</li>
                        </ul>
                        <p class="text-block__text">В меню есть уличная еда (фалафели, тортильи, 
                            шаурма, хот-доги и бургеры), супы, пироги и сладкие десерты. 
                            Поклонники здорового образа жизни могут заказать свежевыжатые 
                            соки, овощные смузи и блюда на пару. Для вегетарианцев и 
                            веганов есть большой выбор еды без содержания животных 
                            продуктов.
                        </p>
                        <p class="text-block__text">Неважно, кто вы – любитель шашлыков, 
                            веган или фрукторианец – в нашем меню найдутся вкусные блюда 
                            для всех. <span>GaGaFood</span> ценит ваши вкусы и убеждения и всегда 
                            готов посоветовать лучшее заведение для доставки, которое 
                            подойдет именно вам.</p>
                    </article>
                </div>
            </section>
            <section class="page__feedback feedback">
                <div class="feedback__wrapper">
                    <h2 class="feedback__title">
                        Нужна помощь? Оставьте нам свои контакты и мы обязательно вам перезвоним! 
                    </h2>
                    <form action="{% url 'home' %}" method="POST" class="feedback__form">
                        {% csrf_token %}
                        {% for f in form %}
                        <div class="feedback__fielder">
                            <label for="{{f.id_for_label}}" class="feedback__label">{{f.label}}:</label>
                            {{f}}
                        </div>
                        <div class="feedback__errors">
                            {{f.errors}}
                        </div>
                        {% endfor %}
                        <div class="feedback__button">
                            <button class="feedback__submit">
                            Оставить заявку
                        </button>
                        </div>
                    </form>
                </div>
            </section>
        </main>
{% endblock %}