{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GaGaFood</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'gagafood/images/Logo.svg' %}">
    <link rel="stylesheet" href="{% static 'gagafood/src/css/reset.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'gagafood/src/css/style.css' %}" type="text/css">
</head>
<body>
    <main class="authorization">

        {% if form.errors %}
        <p>{{ form.errors.error }}</p>
        {% endif %}
        <form method="post" class="authorization__form">
            {% csrf_token %}
            {% for f in form %}
            <div class=authorization__fielder">
                <label for="{{f.id_for_label}}" class="authorization__label">{{f.label}}:</label>
                {{f}}
            </div>
            <div class="authorization__errors">
                {{f.errors}}
            </div>
            {% endfor %}
            <div class="authorization__button">
                <button type="submit" class="authorization__login">Войти</button>
                <a href="{% url 'registration' %}">Зарегистрируйся</a>
                
            </div>
        </form>
    </main>
</body>
</html>