{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'gagafood/images/Logo.svg' %}">
    <link rel="stylesheet" href="{% static 'gagafood/src/css/reset.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'gagafood/src/css/style.css' %}" type="text/css">
</head>
<body>
    {{ user.email }}
    <a href="{% url 'logout' %}" class="profile__logout">
        Выйти
    </a>
</body>
</html>