{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GaGaFood</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'gagafood/images/Logo.svg' %}">
    <link rel="stylesheet" href="{% static 'gagafood/src/css/reset.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'gagafood/src/css/style.css' %}" type="text/css">
</head>
<body>
    <main class="registration">
        <form method="POST" class="registration__form">
            {% csrf_token%}
            {% for f in form %}
            <div class="registration__fielder">
                <label for="{{f.id_for_label}}" class="registration__label">{{f.label}}:</label>
                {{f}}
            </div>
            <div class="registration__errors">
                {{f.errors}}
            </div>
            {% endfor %}

            <button class="registration__submit">
                Зарегистрироваться
            </button>
        </form>
    </main>
</body>
</html>