{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'gagafood/images/Logo.svg' %}">
    <link rel="stylesheet" href="{% static 'gagafood/src/css/reset.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'gagafood/src/css/style.css' %}" type="text/css">
</head>
<body>
    <div class="wrapper">
        <main class="page">
            <section class="page__info info">
                <div class="info__wrapper">
                    {% for r in restaurants %}
                    {% if r.id == restaurant_selected %}
                    <div class="info__crumbs crumbs">
                        <a href="{% url 'home' %}" class="crumbs__link">Главная</a> / <a href="{% url 'catalogue' %}" class="crumbs__link">Рестораны и кафе</a> / {{r.title}}
                    </div>
                    <div class="info__about-restaurant">
                        <div class="info__article">
                            <h1 class="info__title">
                                {{ r.title }}
                            </h1>
                                {% endif%}
                                
                            <p class="info__description">
                                {% if r.id == restaurant_selected %}
                                    {{ r.description }}
                            </p>
                        </div>
                        <img src="{{r.logo.url}}" alt="Ресторан BUZFOOD на Цветном бульваре" class="info__cover">
                        {% endif%}
                        {% endfor %}
                    </div>
                </div>
            </section>
            <section class="page__menu menu">
                <div class="menu__wrapper">
                    <h1 class="menu__title">Меню:</h1>
                    <div class="menu__body">
                        {% for d in dish %}
                            {% if d.restaurant_id == restaurant_selected %}
                                <div class="menu__card">
                                    {% if d.cover %}
                                        <img src="{{ d.cover.url }} " alt="{{ d.cover.url }}" class="menu__photo">
                                    {% endif%}
                                    <div class="menu__article">
                                        <p class="menu__name">
                                            {{ d.title }}
                                        </p>
                                        <p class="menu__text">{{ d.description }}</p>
                                    </div>
                                    <div class="menu__addition">
                                        <p class="menu__cost">{{ d.price }} ₽</p>
                                        <a href="" class="menu__button">В корзину</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %} 
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>