.page {
    background-color: #F3F3F3;
}
.page__info {
}
.info {
}
.info__wrapper, .menu__wrapper {
    @extend %wrapper;
    padding: 0 30px;
}
.info__crumbs {
}
.crumbs {
}
.crumbs__link {
}
.info__about-restaurant {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info__article {
    margin-right: 20px;
}
.info__title {
    
    font-weight: 600;
    font-size: 1.875rem;
    margin-bottom: 15px;
}
.info__description {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 122%;
    max-width: 552px;
}
.info__cover {
    width: 400px;
    height: 339px;
}

.page__menu {
    margin-top: 20px;
}
.menu {
}
.menu__wrapper {
}
.menu__title {
    font-weight: 500;
    font-size: 1.625rem;
    margin-bottom: 20px;
}
.menu__body {
    display: grid;
    grid-template-columns: repeat(
        3,
        minmax(200px, 1fr)
    );
    grid-auto-flow: dense;
    justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding-bottom: 50px;
}
.menu__card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.menu__photo {
    width: 100%;
    margin-bottom: 20px;
    max-width: 250px;
}
.menu__article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: fit-content;
    width: 100%;
}
.menu__name {
    font-weight: 500;
    font-size: 1.375rem;
    margin-bottom: 5px;
}
.menu__text {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 120%;
    margin-bottom: 5px;
}
.menu__addition {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.menu__cost {
    font-weight: 600;
    font-size: 1.6rem;
    color: $pink-cl;
}
.menu__button {
    @extend %buttonss;
    font-size: 1rem;
}

@media (max-width: 900px) {
    .menu__name {
        font-size: 1.175rem;
    }
    .menu__text {
        font-size: 1.1rem;
    }
    .menu__cost {
        font-size: 1.3rem;
    }
    .menu__button {
        @extend %buttonss;
        font-size: 0.9rem;
    }

}


@media (max-width: 776px) {
    .info__cover {
        width: 350px;
        height: 297px;
    }
    .info__title {
        font-size: 1.875rem;
    }
    .info__description {
        font-size: 1rem;
        max-width: 352px;
    }
}

@media (max-width: 750px) {
    .menu__body {
        grid-template-columns: repeat(
            2,
            minmax(200px, 1fr)
        );
    }
}


@media (max-width: 688px) {
    .info__cover {
        width: 400px;
        height: 339px;
    }
    .info__title {
        font-size: 1.775rem;
    }
    .info__description {
        font-size: 1rem;
        max-width: 552px;
    }
    .info__about-restaurant {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info__article {
        margin-bottom: 30px;
    }
}

@media (max-width: 530px) {
    .menu__body {
        grid-template-columns: repeat(
            1,
            minmax(200px, 400px)
        );
    }
}

@media (max-width: 454px) {
    .info__cover {
        width: 300px;
        height: 254px;
    }
    .info__title {
        font-size: 1.575rem;
    }
    .info__description {
        font-size: 0.9rem;
        max-width: 352px;
    }
    .info__about-restaurant {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info__article {
        margin-bottom: 30px;
    }
    .info__wrapper {
        padding: 0 15px;
    }
}

@media (max-width: 334px) {
    .info__cover {
        width: 250px;
        height: 211px;
    }
    .info__title {
        font-size: 1.375rem;
    }
    .info__description {
        font-size: 0.9rem;
        // max-width: 352px;
    }
    .info__about-restaurant {
        margin-top: 25px;
    }
    .info__article {
        margin-bottom: 25px;
    }
}