@media print {
    @page {
        margin: 1cm;
        size: A4;
    }
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    header, footer, .menu__button, .crumbs {
        display: none;
    }
    img {
        page-break-inside: avoid;
    };
    .menu__photo {
        max-width: 200px;
    }

}